.hidden {
    display: none;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }  
  
    img {
        display: block;
        max-width: 100%;
        height: auto;
      }

    button {
        cursor: pointer;
      }


      /* common */

      .container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
      }
      
      @media screen and (min-width: 768px) {
        .container {
            max-width: 768px;
          }
      }

      @media screen and (min-width: 1158px) {
        .container {
            max-width: 1158px;
            padding: 0 15px;
          }
      }

      /* header */

      .header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
          0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
      }

      .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .header-nav-list,
      .contacts {
        display: none;
      }

      .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
      }

      .header-logo {
        padding: 16px 0;
        display: block;
    
      }
      .header-logo .logo-part {
        color: #2e2f42;
      }

      .burger-button {
        padding: 0;
        border: none;
        background-color: transparent;
      }

      .burger-icon {
        display: block;
        fill: #2f2f37;
      }

      @media screen and (min-width: 768px) {
        .burger-button {
            display: none;
          }

          .header-nav {
            display: flex;
            align-items: center;
          }

          .header-nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
          }

          .header-logo {
            padding: 24px 0;
            margin-right: 120px;
          }
        
          .nav-link {
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .nav-link.current {
            position: relative;
          }
          
          .nav-link.current::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
          }
          
          .nav-link:hover,
          .nav-link:focus,
          .nav-link.current,
          .contacts-link:hover,
          .contacts-link:focus {
            color: #404bbf;
          }

          .contacts {
            font-style: normal;
            display: block;
          }

          .contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
          
          .contacts-link {
            display: block;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
          
        @media screen and (min-width: 1158px) {
          .header-logo {
            margin-right: 76px;
          }

          .contacts-list {
            flex-direction: row;
            align-items: center;
            gap: 40px;
          }

          .contacts-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
          }
        }   
              
          
/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:focus,
.mobile-menu-close-button:hover {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  display: flex;

  margin-bottom: auto;
  padding-bottom: 168px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mobile-nav-link {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.current {
  position: relative;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link.current,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #404bbf;
}

.mobile-contacts {
  font-style: normal;
  display: block;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  fill: #f4f4fd;
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 48px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-links-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}

 @media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
 }
 
 

/* solutions */

.solutions {
  max-width: 320px;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mob-min.jpg");
  margin: auto;
}
    
@media (min-resolution: 192dpi) {
  .solutions {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mob@2x-min.jpg");

  }
}

.solutions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px auto;
}


.button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  align-items: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}

.button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .solutions {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 36px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab-min.jpg");
  }

  @media (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab@2x-min.jpg");
  
    }
  }
  .solutions-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
  
}

@media screen and (min-width: 1158px) {
  .solutions {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desk-min.jpg");
  }

  @media (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desk@2x-min.jpg");
    }
  }
  .solutions-title {
    margin: 0 auto 48px auto;
  }
  }

/* benefits */

  .benefits {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .benefits-item {
    width: 100%;
  }
  
  .benefits-icon {
        display: none;
      }

  .benefits-titles {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  @media screen and (min-width: 768px) {
    .benefits-list {
      column-gap: 24px;
      row-gap: 72px;
    }
  
    .benefits-item {
    width: calc((100% - 24px) / 2); 
    }
    
    .benefits-titles {
      text-align: left;
    }

    .benefits-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
    }

  }

  @media screen and (min-width: 1158px) {
    .benefits-icon {
      display: flex;
    }
    .benefits {
      padding: 120px 0;
    }
    
    .benefits-list {
      gap: 24px;
    }
    
    .benefits-item {
      width: calc((100% - 72px) / 4);
    }
    
    .benefits-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      background-color: #f4f4fd;
      border-radius: 4px;
      border: 1px solid #8e8f99;
      margin-bottom: 8px;
    }
    
    .benefits-titles {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
    
  }

/* team */

.team-container {
  padding: 0 28px;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.container-team {
  padding: 32px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.teammembers-list {
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  
}

.teammembers-list img {
  display: block;
  width: 100%;
  height: auto;
}

.social-icons {
  fill: #f4f4fd;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.teammember-name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {  
  .team-container {
    padding: 0 108px;
  }
  
  .team-list {
    column-gap: 24px;
    flex-direction: row;
  }

  .teammembers-list {
    width: calc((100% - 24px) / 2)
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    padding: 0 15px;
  }

  .team {
    padding: 120px 0;
  }

  .teammembers-list {
    width: calc((100% - 72px) / 4)
  }

  .team-list {
    display: flex;
    gap: 24px;
  }
}

/* portfolio */

.postfolio-section {
  padding: 96px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.portfolio-context {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-context:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*
.container-portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-context .portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-context:hover .portfolio-overlay {
  transform: translateY(0);
}
*/

.portfolio-overlay {
  display: none;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-items-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-portfolio-image {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    flex-direction: row;
  }

  .portfolio-context {
    width: calc((100% - 24px) / 2)
  }
}

@media screen and (min-width: 1158px) {
  .postfolio-section {
    padding: 120px 0;
  }
  
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-context {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-portfolio-image {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay {
    display: block;
  }

  .portfolio-context .portfolio-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-context:hover .portfolio-overlay {
    transform: translateY(0);
  }
}

/* footer */

.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 72px;
  column-gap: 72px;
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-text {
  margin: 0 auto;
  max-width: 288px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  
}

.footer-social-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-item {
  width: 40px;
  height: 40px;
}

.container-footer-social, 
.subscribe-text {
  text-align: center;
}

.container-footer-social {
  width: 208px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .social-footer-list {
    gap: 16px;
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .form-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
.form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  height: 40px;
  width: 288px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.form-input::placeholder {
  color: #fff;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}


@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }
  .footer-logo-text {
    margin: 0;
    max-width: 264px;
    text-align: left;
  }

  .footer-logo {
    text-align: left;
  }

  .subscribe-text {
    margin: 0;
    text-align: left;
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .form-input {
    width: 264px;
  }

  .form-subscribe {
    text-align: left;
  }

  .container-footer-social {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
.page-footer {
  padding: 100px 0;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-container {
 justify-content: flex-start;
 align-items: flex-start;
 padding: 0 15px;
 gap: 0;
}

.footer-logo-text {
  margin-right: 120px;
  max-width: 264px;
}

.footer-text {
  max-width: 264px;
}

.footer-social-links-item {
  width: 40px;
  height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.social-footer-list {
  display: flex;
  justify-content: center;
}

.subscribe-text {
  display: block;
  margin-left: 80px;
}

.form-input {
  opacity: 1;
}
}

/*modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;
  border-radius: 4px;

  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 16px 16px 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 32px;
  right: 32px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:focus,
.button-modal:hover {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-modal:focus .close-icon,
.button-modal:hover .close-icon {
  fill: #ffffff;
}

.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-label-modal {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-modal {
  margin-bottom: 8px;
}

.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;

  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .icon-modal,
.modal-form-input:focus + .icon-modal,
.modal-form-input:active + .icon-modal {
  fill: #4d5ae5;
}

.callback-form {
  display: flex;
  flex-direction: column;
}

.icon-phone {
  fill: #2e2f42;
}

.form-modal-comments {
  margin-bottom: 16px;
}

.textarea-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.form-modal-checkbox {
  margin-bottom: 24px;
}

.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.span-privacy {
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 16px;
  width: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.button-privacy {
  display: block;
  align-items: center;
  margin: 0px auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .label-privacy > .span-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}

.button-modal {
  top: 24px;
  right: 24px;
}